/* imports font family, websafe */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: 'Nunito', Verdana, Helvetica, Arial, sans-serif;
  padding: 2rem;
  max-width: 110em;
  margin: auto;
  /* https://www.w3schools.com/howto/howto_css_center_website.asp */
}

section {
  padding: 1em;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
}

h2 {
  /* https://www.w3schools.com/css/css_inline-block.asp
  https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
  margin-top: 1rem;
  background-color: rgb(164, 245, 238, 0.4);
  border-radius: 10px;
  padding: 0.5em;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-left: 0.1em;
  margin-bottom: 0.25rem;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

table, th, td {
  border: 1px solid black;
}

p {
  max-width: auto;
}

img {
	max-width: 100%;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.services_list {
  margin: auto;
  text-align: center;
  font-family: arial;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: auto;
}

.card {
  align-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  flex: 1;
  flex-basis: 15em;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-width: 4px;
  border-color: #97F5E7;
  border-radius: 10px;
  border-style: solid;
}

.card p {
  max-width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.product-price p {
  color: grey;
  font-size: 22px;
}

.services_list button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.services_list button:hover {
  opacity: 0.7;
}

button, button a {
  display: inline-block;
  padding: 0.4rem;
  color: white;
  border-radius: 4px;
  /*https://www.w3schools.com/howto/howto_css_round_buttons.asp */
  background-color: rgb(48, 179, 169);
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

button:hover {
  background-color: rgb(240, 135, 94);
  cursor: pointer;
}

/* https://codepen.io/manabox/pen/raQmpL -------*/
.cusInput input[type="radio"] {
  /* Removes default radio Input*/
  display: none;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  padding-bottom: 0.5em;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #0AAD8F;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #AB9993;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #AB9993;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#radio li{
  list-style-type: none;
}
/* Text box input field */
/* https://www.w3schools.com/css/css_form.asp*/
input[type=text] {
  width: auto;
  margin-bottom: 20px;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 3px;
  outline: none;
}

input[type=text]:hover {
  background: rgb(240, 135, 94, 0.1);
}

[type=text]:focus {
  border: 3px solid #AB9993;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea:hover {
  background: rgb(240, 135, 94, 0.1);
}

textarea:focus {
  border: 3px solid #AB9993;
}

input[type=search] {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* reset type button */
[type=reset] {
  display: inline-block;
  padding: 0.4rem;
  color: white;
  border-radius: 4px;
  /*https://www.w3schools.com/howto/howto_css_round_buttons.asp */
  background-color: rgb(48, 179, 169);
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

[type=reset]:hover {
  background-color: rgb(240, 135, 94);
  cursor: pointer;
}

/*------- CLASSES -------*/
.button {
  display: inline-block;
  padding: 0.4rem;
  color: white;
  border-radius: 4px;
  background-color: rgb(48, 179, 169);
  transition-property: background-color;
  transition-duration: 0.3s;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(240, 135, 94);
  cursor: pointer;
}

#focused {
  background-color: #AB9993;
}

.in-text_links ul {
  color: black;
}

.in-text_links a {
  color: rgb(10, 173, 143);
}

.in-text_links a:hover {
  color: rgb(240, 135, 94);
}

.in-text_links a:focus {
  background-color: rgb(171, 153, 147);
}

.navigation a {
  color: white;
}

.subsections {
  padding: 2em;
  border-color: grey;
  border-radius: 5px;
  border-style: solid;
}

.gallery {
  /* https://www.w3schools.com/css/css3_images.asp */
  max-width: 15em;
}

.gallery a:focus {
  filter: grayscale(100%);
}

a img:hover {
  border: 5px solid rgb(240, 135, 94);
  border-radius: 5px;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blocks {
  flex-grow: 1;
  flex-basis: 15em;
  height: 200px;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}

#box1 {
  background: #0AAD8F;
}

#box2 {
  background: #C8FEF7;
}

#box3 {
  background: #97F5E7;
}

#box4 {
  background: #AB9993;
}

#box5 {
  background: #F0875E;
}

/*IDs*/

#productbrowsingpage{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	max-width:100%;
	justify-content:flex-start;
}

#tableofcontentsstyling{
	margin:.5em;
	padding:1em;
	border:5px solid rgb(171, 153, 147, 0.1);
  border-radius: 10px;
	float:left;
	background-color: rgb(164, 245, 238, 0.2);
}

#title h1{
	font-size:2em;
	/* margin:-1rem; */
}

#styleguide div{
	padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

#cardinfo{
	display:block;
}

/*classes*/

.container #addressinfo, .container #cardinfo{
	border: 5px groove white;
	padding:1em;
	margin:1em;
}

.container{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	max-width:100%;
	justify-content:flex-start;
	  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container #tableofcontents{
	flex-basis:25em;
	flex-grow:1;
	justify-content:flex-start;
	max-width:25em;
	transition-property: background-color;
	transition-duration: 0.5s;
}


.container #styleguide{
	flex-basis:15em;
	flex-grow:1;
	justify-content:flex-start;
	margin:.5em;
	margin-left:3em;
	padding:1em;

}

.fas fa-grip-lines-vertical{
	color:black;
}
.fa-quote-left, .fa-quote-right{
	padding:5px;
}

.item{
	text-align:center;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 65%, rgba(200, 254, 247, 0.5) 100%);
	padding:.5em;
	max-width:500px;
	margin:.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-width: 4px;
	border-color: #97F5E7;
  border-radius: 10px;
  border-style: solid;
}

.item img{
	border:1px solid black;
}

.item p{
	max-width:500px;
}

.quantity{
	text-align:center;
}

.cart{
	cursor:pointer;
	background-color: #6a8c4b;
	padding:.5em;
	color:white;
	text-decoration:none;
}

.cart:hover{
	color: white;
	text-decoration:underline;
}


/* Checkout */
/* https://www.w3schools.com/howto/howto_css_checkout_form.asp */
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-25 {
    margin-bottom: 20px;
  }
}
